body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:  grey;
}
a {
  color: white;
}
h1 {
  padding: 60px;
  text-align: center;
  background: grey;
  color: #4CAF50;
  font-size: 60px;
  font: normal;
}
ul {
  list-style-type: none;
  font-size: 50px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
.contactus {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}
.description {
  color: #4CAF50;
}
.header {
  padding: 60px;
  text-align: center;
  background: grey;
  color: white;
  font-size: 30px;
}
